/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*====================================================
                    GERAL
======================================================*/
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
a.buton{
    background-color:#0E8388;
    color: white;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
}


/*====================================================
                        TOPO
======================================================*/
header{
    display: flex;
    justify-content: space-between;
    padding: 4vw 10vw 4vw 5vw;

}
header h1{
    font-size: 1.5rem;
    font-weight: bold;
}
header nav ul{
    display: flex;
}
header nav ul li{
    margin: 0 10px 0 10px;
}

/*====================================================
                        BANNER
======================================================*/


main section.banner{
    text-align: center;
}
main section.banner h2{
    font-size: 1.8rem;
    margin: 10px ;
}
main section.banner p{
    color: #888888 ;  
    margin: 10px; 
}
/*====================================================
                        CONTEUDO
======================================================*/


main section.conteudo{
    background-color: #CBE4DE;
    padding: 1vw 1.5vw 1vw 1.5vw;
    margin: 5vw 0 0 0 ;
    text-align: center;
}
main section.conteudo h2{
    font-size: 1.8rem
}
main section.conteudo p.text{
    color: #888888;
    margin: 2vw;
}
main section.conteudo ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main section.conteudo ul li{
    width: 25%;
    background-color: #ffffff;
    padding: 2vw;
    border-radius: 1.5vw;
    margin: 2vw ;
}
main section.conteudo ul li span{
    background-color: #EFEFEF ;
    padding: 2vw;
    border-radius: 4vw;
    margin: 0 ;
}
main section.conteudo ul li h3{
    font-weight: bold;
    margin: 10px;
}
main section.conteudo ul li p{
    color: #888888
}

/*====================================================
                        BUILD
======================================================*/
main section.build{
    text-align: center;
    padding: 2vw 1vw 5vw 1vw;
}
main section.build h2{
    font-size: 1.8rem;
    margin: 2vw;
}
main section.build p{
    color: #888888;
    margin: 0 0 2vw 0;
}
main section.build div.fora{
    display: flex;
}
main section.build div.fora div.um img{
    margin: 1vw 2vw 1vw 10vw;
 
}
main section.build div.fora div.dois h3{
    font-size: 2vw ;
    font-weight: bold;
    margin: 1.5vw;
}
main section.build div.fora div.dois {
    margin: 10vw;
}
/*====================================================
                        FOOTER
======================================================*/
footer{
    display: flex;
    justify-content: space-between;
    background-color: #CBE4DE;
    padding: 2vw 2vw 0 2vw;
}
footer p img{
    margin: 2vw;
}
footer p{
    color: #888888;
}
footer ul{
    display: flex;
}
footer ul li {
    margin: 2vw;
}footer ul li a{
    color: #888888;
}